.container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;


  div {
    width: 300px;
    margin-right: 20px;
    padding: 20px;
    background-color: #dfdfdf;
  }
}
